# Coding Exercises (Part 2)

## Full Data Workflow A-Z: Importing Data

### Exercise 10: Importing Data from messy csv-files

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Option 1: Self_guided

__Import__ the cars Dataset from the messy csv-file __cars_raw.csv__ into a Pandas DataFrame. Use appropriate __parameters__ in the __pd.read_csv()__ method to bring the DataFrame into a clean format. __Columns__ should have the following __labels__:

In [8]:
labels = ['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'name']

In [2]:
import pandas as pd

In [11]:
cars = pd.read_csv('cars_raw.csv', skiprows= 2, header=None, names=labels, skipfooter=1)

C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [12]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0 hp,3504,12.0,70,United States,chevrolet chevelle malibu
1,15.0,8,350.0,165.0 hp,3693,11.5,70,United States,buick skylark 320
2,18.0,8,318.0,150.0 hp,3436,11.0,70,United States,plymouth satellite
3,16.0,8,304.0,150.0 hp,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0 hp,3449,10.5,70,usa,FORD TORINO
...,...,...,...,...,...,...,...,...,...
324,12.0,8,429.0,198.0 hp,4952,11.5,73,usa,mercury marquis brougham
325,27.0,4,101.0,83.0 hp,2202,15.3,76,europe,renault 12tl
326,17.0,6,250.0,100.0 hp,3329,15.5,71,usa,chevrolet chevelle malibu
327,14.5,8,351.0,152.0 hp,4215,12.8,76,usa,ford gran torino
328,25.0,6,181.0,110.0 hp,2945,16.4,82,usa,buick century limited

In [13]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           329 non-null    float64
 1   cylinders     329 non-null    int64
 2   displacement  329 non-null    float64
 3   horsepower    329 non-null    object
 4   weight        329 non-null    int64
 5   acceleration  329 non-null    float64
 6   model year    329 non-null    int64
 7   origin        329 non-null    object
 8   name          329 non-null    object
dtypes: float64(3), int64(3), object(3)
memory usage: 23.3+ KB

Finally, __save__ and __export__ the dataset as new csv-file (__cars_imp.csv__).

--------------------------------

## Option 2: Guided and Instructed

# STOP HERE, IF YOU WANT TO DO THE EXERCISE ON YOUR OWN!

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

77. __Import__ Pandas (pd)!

78. __Import__ the csv-file __cars_raw.csv__ with the appropriate pandas method and __inspect__ the data!

Use appropriate __parameters__ in the __pd.read_csv()__ method to clean the format. The following issues need to be solved:

79. __Remove__ the __first row(s)__ containing nonsense content.

80. __Remove__ the __last row(s)__ containing nonsense content.

81. Define that there are __no appropriate column labels/headers__ in the data.

82. __Set__ the following __column labels/headers__:

In [ ]:
labels = ['mpg',
 'cylinders',
 'displacement',
 'horsepower',
 'weight',
 'acceleration',
 'model year',
 'origin',
 'name']

In [ ]:
#complete the code and run the cell!
pd.read_csv(---)

83. Once you are happy with the import, __save__ the DataFrame in the variable __cars__!

In [ ]:
#complete the code and run the cell!
cars = pd.read_csv(---)

In [ ]:
# run the cell!
cars.head()

In [ ]:
# run the cell!
cars.tail()

84. __Export__ and __save__ cars as new csv-file (__cars_imp.csv__). Do __not__ export any __RangeIndex__!

__Reimport__ cars_imp.csv and check!

In [ ]:
#run the cell!
pd.read_csv("cars_imp.csv")

# Well Done!

----------------------------

# Hints (Spoiler!)

77. at this point, you should know this ;-) !

78. pd.read_csv("filename")

79. parameter skiprows

80. parameter skipfooter

81. header = N---

82. parameter names

83. see hints 79-82

84. to_csv() method