# Coding Exercises (Part 1)

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also watch the __solutions videos__ or check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## DataFrame Basics III

### Exercise 7: Sorting, Ranking & Summary Statistics

In [12]:
# run the cell!
import pandas as pd

In [13]:
# run the cell!
cars = pd.read_csv("cars.csv")

In [14]:
# run the cell!
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

53. __Sort__ the __cars__ DataFrame by the __"mpg"__ column from __high to low__ and __save__ the new order!

In [17]:
cars.sort_values(by='mpg', ascending=False, inplace=True)

__Inspect__ cars! What is the __name__ of the __most fuel efficient__ car?

In [18]:
#run the cell!
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)
...,...,...,...,...,...,...,...,...,...
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
67,11.0,8,429.0,208.0,4633,11.0,72,usa,mercury marquis
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevrolet c20
28,9.0,8,304.0,193.0,4732,18.5,70,usa,ih 1200d

The most fuel efficient car is ... mazda glc!

54. __Sort__ the __cars__ DataFrame by the __index__ from __low to high__. __Save__ the order!

In [20]:
cars.sort_index(inplace=True)

In [21]:
# run the cell!
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

55. __Create__ a new column __"hp_rank"__ with the __horsepower rank__ for each car (__rank 1__ means __highest__ horsepower)! __Fill in the gaps!__

In [23]:
cars["hp_rank"] = cars.horsepower.rank(method="min", ascending=False)

56. __Sort cars__ by the __"horsepower"__ from __high to low__. The __"hp_rank"__ for the car __"pontiac grand prix"__ is...?

In [24]:
cars.sort_values(by='horsepower', ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_rank
116,16.0,8,400.0,230.0,4278,9.5,73,usa,pontiac grand prix,1.0
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom,2.0
13,14.0,8,455.0,225.0,3086,10.0,70,usa,buick estate wagon (sw),2.0
8,14.0,8,455.0,225.0,4425,10.0,70,usa,pontiac catalina,2.0
6,14.0,8,454.0,220.0,4354,9.0,70,usa,chevrolet impala,5.0
...,...,...,...,...,...,...,...,...,...,...
126,21.0,6,200.0,NaN,2875,17.0,74,usa,ford maverick,NaN
330,40.9,4,85.0,NaN,1835,17.3,80,europe,renault lecar deluxe,NaN
336,23.6,4,140.0,NaN,2905,14.3,80,usa,ford mustang cobra,NaN
354,34.5,4,100.0,NaN,2320,15.8,81,europe,renault 18i,NaN
374,23.0,4,151.0,NaN,3035,20.5,82,usa,amc concord dl,NaN

The __"hp_rank"__ for the car __"pontiac grand prix"__ is... 1!

57. Check the amount of __unique values__ in __all columns__ of the cars DataFrame! __How many__ unique values are in the __"name"__ column?

In [25]:
cars.nunique()

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model_year       13
origin            3
name            300
hp_rank          93
dtype: int64

There are ... 300 unique values in the "name" column! (There must be 98 name duplicates!)

58. __Select__ the __10__ cars with the __highest weights__!

In [27]:
cars.nlargest(10, 'weight')

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,hp_rank
44,13.0,8,400.0,175.0,5140,12.0,71,usa,pontiac safari (sw),23.0
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala,46.0
42,12.0,8,383.0,180.0,4955,11.5,71,usa,dodge monaco (sw),18.0
90,12.0,8,429.0,198.0,4952,11.5,73,usa,mercury marquis brougham,12.0
95,12.0,8,455.0,225.0,4951,11.0,73,usa,buick electra 225 custom,2.0
104,12.0,8,400.0,167.0,4906,12.5,73,usa,ford country,33.0
43,13.0,8,400.0,170.0,4746,12.0,71,usa,ford country squire (sw),28.0
94,13.0,8,440.0,215.0,4735,11.0,73,usa,chrysler new yorker brougham,6.0
28,9.0,8,304.0,193.0,4732,18.5,70,usa,ih 1200d,14.0
137,13.0,8,350.0,150.0,4699,14.5,74,usa,buick century luxus (sw),46.0

59. Call an appropriate method on the __cars__ DataFrame that provides plenty of __summary statistics__!

In [28]:
cars.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,hp_rank
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,392.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,192.239796
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,113.441056
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,98.500000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,196.500000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,294.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,391.000000

60. Create a __correlation matrix__ for the __cars__ DataFrame! Which factor has the __highest negative correlation__ to __mpg__?

In [29]:
cars.corr()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,hp_rank
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267,0.836399
cylinders,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746,-0.827170
displacement,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164,-0.855328
horsepower,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.928239
weight,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564,-0.865003
acceleration,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137,0.653890
model_year,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000,0.390590
hp_rank,0.836399,-0.827170,-0.855328,-0.928239,-0.865003,0.653890,0.390590,1.000000

The factor weight shows the highest negative correlation to mpg! The lower the weight, the higher the fuel efficiency!

# Well Done!

------------------------------

# Hints (Spoiler!)

53. sort_values() method

54. sort_index() method

55. rank() method, descending order

56. sort_values() method

57. nunique() method

58. nlargest() method

59. describe() method

60. corr() method