In [1]:
import pandas as pd

C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [5]:
titanic['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [6]:
type(titanic['age'])

pandas.core.series.Series

In [7]:
titanic['age'].equals(titanic.age)

True

In [8]:
age = titanic['age']

In [9]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [10]:
age.tail(2)

889    26.0
890    32.0
Name: age, dtype: float64

In [11]:
age.dtype

dtype('float64')

In [12]:
age.shape

(891,)

In [14]:
len(age)

891

In [15]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [16]:
age.info()

AttributeError: 'Series' object has no attribute 'info'

In [18]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

## analyzing numerical series

In [19]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [20]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [21]:
age.count()

714

In [22]:
age.size

891

In [23]:
len(age)

891

In [28]:
age.sum()

21205.17

In [25]:
sum(age)

nan

In [26]:
age.mean()

29.69911764705882

In [29]:
age.median()

28.0

In [30]:
age.std()

14.526497332334042

In [31]:
age.min()

0.42

In [32]:
age.max()

80.0

In [33]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [34]:
len(age.unique())

89

In [35]:
age.nunique()

88

In [36]:
age.nunique(dropna=False)

89

In [37]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [39]:
age.value_counts(sort=False)

22.00    27
38.00    11
26.00    18
35.00    18
54.00     8
         ..
0.92      1
0.83      2
0.67      1
70.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [40]:
age.value_counts(dropna=False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
36.50      1
55.50      1
66.00      1
23.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [42]:
age.value_counts(ascending=True)

0.42      1
23.50     1
66.00     1
70.50     1
55.50     1
         ..
30.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [44]:
age.value_counts(sort=True, dropna=True, ascending=False, normalize=False)

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [49]:
age.value_counts(sort=True, dropna=False, ascending=False, normalize=True)

NaN      0.198653
24.00    0.033670
22.00    0.030303
18.00    0.029181
28.00    0.028058
           ...
36.50    0.001122
55.50    0.001122
66.00    0.001122
23.50    0.001122
0.42     0.001122
Name: age, Length: 89, dtype: float64

In [47]:
30/age.size

0.03367003367003367

In [52]:
age.value_counts(sort=True, dropna=True, ascending=False, normalize=True, bins=10)

(16.336, 24.294]    0.198653
(24.294, 32.252]    0.189675
(32.252, 40.21]     0.132435
(40.21, 48.168]     0.078563
(0.339, 8.378]      0.060606
(8.378, 16.336]     0.051627
(48.168, 56.126]    0.050505
(56.126, 64.084]    0.026936
(64.084, 72.042]    0.010101
(72.042, 80.0]      0.002245
Name: age, dtype: float64

In [53]:
age.value_counts(sort=True, dropna=False, ascending=False, normalize=True).sum()

0.9999999999999999

## analyzing non-numerical series

In [54]:
import pandas as pd

In [55]:
summer=pd.read_csv('summer.csv')

In [56]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [57]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [58]:
athlete = summer['Athlete']

In [59]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [60]:
athlete.tail()

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [61]:
type(athlete)

pandas.core.series.Series

In [62]:
athlete.dtype

dtype('O')

In [63]:
athlete.shape

(31165,)

In [64]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [65]:
athlete.size

31165

In [66]:
athlete.count()

31165

In [68]:
athlete.min()

'AABYE, Edgar'

In [69]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [70]:
len(athlete.unique())

22762

In [71]:
athlete.nunique()

22762

In [72]:
athlete.nunique(dropna=False)

22762

In [73]:
athlete.value_counts()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
SHAKHLIN, Boris         13
MANGIAROTTI, Edoardo    13
                        ..
CLAESGES, Lothar         1
BRAINOVIC, Marko         1
JESSEN, Michael          1
CHUKWU, Clement          1
SHMUDSKY, Vladimir       1
Name: Athlete, Length: 22762, dtype: int64

In [75]:
athlete.value_counts(ascending=True)

SHMUDSKY, Vladimir       1
CHUKWU, Clement          1
JESSEN, Michael          1
BRAINOVIC, Marko         1
CLAESGES, Lothar         1
                        ..
MANGIAROTTI, Edoardo    13
SHAKHLIN, Boris         13
ANDRIANOV, Nikolay      15
LATYNINA, Larisa        18
PHELPS, Michael         22
Name: Athlete, Length: 22762, dtype: int64

In [77]:
athlete.value_counts(sort=True, ascending=False, normalize=True).head()

PHELPS, Michael         0.000706
LATYNINA, Larisa        0.000578
ANDRIANOV, Nikolay      0.000481
SHAKHLIN, Boris         0.000417
MANGIAROTTI, Edoardo    0.000417
Name: Athlete, dtype: float64

## creating pandas series (part1)

In [79]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [80]:
summer['Athlete']

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [81]:
summer.Athlete

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [82]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

In [83]:
pd.read_csv('summer.csv', usecols=['Athlete'], squeeze=True).head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [85]:
pd.Series([10,25,6,36,2])

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [87]:
pd.Series([10,25,6,36,2], index=['Mon', 'Tues', 'Wed', 'Thur', 'Fri'])

Mon     10
Tues    25
Wed      6
Thur    36
Fri      2
dtype: int64

In [88]:
pd.Series([10,25,6,36,2], index=['Mon', 'Tues', 'Wed', 'Thur', 'Fri'], name='Sales')

Mon     10
Tues    25
Wed      6
Thur    36
Fri      2
Name: Sales, dtype: int64

## creating pandas series (part2)

In [89]:
import pandas as pd
import numpy as np

In [90]:
sales = np.array([10, 25, 6, 36, 2])
sales

array([10, 25,  6, 36,  2])

In [91]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int32

In [94]:
sales = (10, 25, 6, 36, 2)

In [95]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [96]:
dic = {'Mon':10, 'Tues':25, 'Wed':6, 'Thu':36, 'Fri':2}
dic

{'Mon': 10, 'Tues': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [97]:
sales = pd.Series(dic)

In [98]:
sales

Mon     10
Tues    25
Wed      6
Thu     36
Fri      2
dtype: int64

In [99]:
pd.Series(dic, index = ['Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed'])

Fri     2.0
Sat     NaN
Sun     NaN
Mon    10.0
Tue     NaN
Wed     6.0
dtype: float64

In [100]:
pd.Series(dic, index = [1, 2, 3, 4, 5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

## indexing and slicing

In [101]:
import pandas as pd

In [102]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [103]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [104]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [105]:
age = titanic.age

In [106]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [107]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [108]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [109]:
age[0]

22.0

In [110]:
age[2]

26.0

In [112]:
age.iloc[-1]

32.0

In [113]:
age[890]

32.0

In [114]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [115]:
age.iloc[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [116]:
age.loc[:3]

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

In [118]:
summer = pd.read_csv('summer.csv', index_col='Athlete')

In [119]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [120]:
event = summer.Event

In [122]:
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [123]:
event.tail()

Athlete
JANIKOWSKI, Damian           Wg 84 KG
REZAEI, Ghasem Gholamreza    Wg 96 KG
TOTROV, Rustam               Wg 96 KG
ALEKSANYAN, Artur            Wg 96 KG
LIDBERG, Jimmy               Wg 96 KG
Name: Event, dtype: object

In [124]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [125]:
event[0]

'100M Freestyle'

In [126]:
event[1]

'100M Freestyle'

In [127]:
event[-1]

'Wg 96 KG'

In [128]:
event[:3]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [129]:
event.iloc[:3]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [130]:
event['DRIVAS, Dimitrios']

'100M Freestyle For Sailors'

In [131]:
event[:'DRIVAS, Dimitrios']

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [132]:
event.loc['PHELPS, Michael']

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [133]:
event.loc['PHELPS, Michael'].equals(event['PHELPS, Michael'])

True

In [134]:
event[:'PHELPS, Michael']

KeyError: "Cannot get right slice bound for non-unique label: 'PHELPS, Michael'"

In [137]:
event.loc[['PHELPS, Michael', 'LEWIS, Carl']]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                     Long Jump
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                     Long Jump
Name: Event, dtype: object

In [138]:
event.loc[['PHELPS, Michael', 'DUCK, Donald']]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['DUCK, Donald'], dtype='object', name='Athlete'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

## sorting and introduction to the inplace-parameter

In [139]:
dic = {1:10, 3:25, 2:6, 4:36, 5:2, 6:0, 7:None}
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [140]:
sales = pd.Series(dic)

In [141]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [142]:
sales.sort_index()

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [144]:
sales.sort_index(ascending=False)

7     NaN
6     0.0
5     2.0
4    36.0
3    25.0
2     6.0
1    10.0
dtype: float64

In [148]:
sales.sort_index(inplace=True)
sales

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [149]:
sales.sort_values()

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [154]:
sales.sort_values(ascending=False, na_position='last', inplace=True)

In [155]:
sales

4    36.0
3    25.0
1    10.0
2     6.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [156]:
dic = {'Mon':10, 'Tues':25, 'Wed':6, 'Thu':36, 'Fri':2}
dic

{'Mon': 10, 'Tues': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [157]:
sales = pd.Series(dic)

In [158]:
sales

Mon     10
Tues    25
Wed      6
Thu     36
Fri      2
dtype: int64

In [160]:
sales.sort_index(ascending=False)

Wed      6
Tues    25
Thu     36
Mon     10
Fri      2
dtype: int64

## nlargest() and nsmallest()

In [161]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [162]:
age = titanic.age

In [163]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [167]:
age.sort_values(ascending=False).head(3)

630    80.0
851    74.0
96     71.0
Name: age, dtype: float64

In [169]:
age.nlargest(3)

630    80.0
851    74.0
96     71.0
Name: age, dtype: float64

In [179]:
age.nlargest(3).index

Int64Index([630, 851, 96], dtype='int64')

In [181]:
age.idxmax()

630

In [171]:
age.sort_values().iloc[:3]

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [173]:
age.nsmallest(3)

803    0.42
755    0.67
469    0.75
Name: age, dtype: float64

In [180]:
age.nsmallest(3).index[0]

803

In [182]:
age.idxmin()

803

## idxmin() and idxmax()

In [174]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [177]:
titanic.age.idxmax()

630

In [183]:
titanic.age.idxmin()

803

In [188]:
titanic.loc[630]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [189]:
titanic.iloc[630]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [192]:
titanic.loc[titanic.age.idxmax()]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [193]:
dic = {'Mon':10, 'Tue':25, 'Wed':6, 'Thu':36, 'Fri':2, 'Sat':0, 'Sun':None}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2, 'Sat': 0, 'Sun': None}

In [194]:
sales = pd.Series(dic)

In [195]:
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
dtype: float64

In [197]:
sales.sort_values().index[0]

'Sat'

In [199]:
sales.idxmin()

'Sat'

In [198]:
sales.sort_values(ascending=False).index[0]

'Thu'

In [202]:
sales.idxmax()

'Thu'

## manipulating series

In [203]:
sales = pd.Series([10, 23, 6, 36, 2, 0, None, 5], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon'])
sales

Mon    10.0
Tue    23.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
Mon     5.0
dtype: float64

In [205]:
sales['Sun'] = 0

In [207]:
sales

Mon    10.0
Tue    23.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     0.0
Mon     5.0
dtype: float64

In [209]:
sales.iloc[3] = 30