In [1]:
import pandas as pd

C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [5]:
titanic['age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [6]:
type(titanic['age'])

pandas.core.series.Series

In [7]:
titanic['age'].equals(titanic.age)

True

In [8]:
age = titanic['age']

In [9]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [10]:
age.tail(2)

889    26.0
890    32.0
Name: age, dtype: float64

In [11]:
age.dtype

dtype('float64')

In [12]:
age.shape

(891,)

In [14]:
len(age)

891

In [15]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [16]:
age.info()

AttributeError: 'Series' object has no attribute 'info'

In [18]:
age.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     714 non-null    float64
dtypes: float64(1)
memory usage: 7.1 KB

## analyzing numerical series

In [19]:
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [20]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

In [21]:
age.count()

714

In [22]:
age.size

891

In [23]:
len(age)

891

In [28]:
age.sum()

21205.17

In [25]:
sum(age)

nan

In [26]:
age.mean()

29.69911764705882

In [29]:
age.median()

28.0

In [30]:
age.std()

14.526497332334042

In [31]:
age.min()

0.42

In [32]:
age.max()

80.0

In [33]:
age.unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [34]:
len(age.unique())

89

In [35]:
age.nunique()

88

In [36]:
age.nunique(dropna=False)

89

In [37]:
age.value_counts()

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [39]:
age.value_counts(sort=False)

22.00    27
38.00    11
26.00    18
35.00    18
54.00     8
         ..
0.92      1
0.83      2
0.67      1
70.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [40]:
age.value_counts(dropna=False)

NaN      177
24.00     30
22.00     27
18.00     26
28.00     25
        ...
36.50      1
55.50      1
66.00      1
23.50      1
0.42       1
Name: age, Length: 89, dtype: int64

In [42]:
age.value_counts(ascending=True)

0.42      1
23.50     1
66.00     1
70.50     1
55.50     1
         ..
30.00    25
19.00    25
18.00    26
22.00    27
24.00    30
Name: age, Length: 88, dtype: int64

In [44]:
age.value_counts(sort=True, dropna=True, ascending=False, normalize=False)

24.00    30
22.00    27
18.00    26
19.00    25
30.00    25
         ..
55.50     1
70.50     1
66.00     1
23.50     1
0.42      1
Name: age, Length: 88, dtype: int64

In [49]:
age.value_counts(sort=True, dropna=False, ascending=False, normalize=True)

NaN      0.198653
24.00    0.033670
22.00    0.030303
18.00    0.029181
28.00    0.028058
           ...
36.50    0.001122
55.50    0.001122
66.00    0.001122
23.50    0.001122
0.42     0.001122
Name: age, Length: 89, dtype: float64

In [47]:
30/age.size

0.03367003367003367

In [52]:
age.value_counts(sort=True, dropna=True, ascending=False, normalize=True, bins=10)

(16.336, 24.294]    0.198653
(24.294, 32.252]    0.189675
(32.252, 40.21]     0.132435
(40.21, 48.168]     0.078563
(0.339, 8.378]      0.060606
(8.378, 16.336]     0.051627
(48.168, 56.126]    0.050505
(56.126, 64.084]    0.026936
(64.084, 72.042]    0.010101
(72.042, 80.0]      0.002245
Name: age, dtype: float64

In [53]:
age.value_counts(sort=True, dropna=False, ascending=False, normalize=True).sum()

0.9999999999999999

## analyzing non-numerical series

In [54]:
import pandas as pd

In [55]:
summer=pd.read_csv('summer.csv')

In [56]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [57]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [58]:
athlete = summer['Athlete']

In [59]:
athlete.head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [60]:
athlete.tail()

31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, dtype: object

In [61]:
type(athlete)

pandas.core.series.Series

In [62]:
athlete.dtype

dtype('O')

In [63]:
athlete.shape

(31165,)

In [64]:
athlete.describe()

count               31165
unique              22762
top       PHELPS, Michael
freq                   22
Name: Athlete, dtype: object

In [65]:
athlete.size

31165

In [66]:
athlete.count()

31165

In [68]:
athlete.min()

'AABYE, Edgar'

In [69]:
athlete.unique()

array(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios', ...,
       'TOTROV, Rustam', 'ALEKSANYAN, Artur', 'LIDBERG, Jimmy'],
      dtype=object)

In [70]:
len(athlete.unique())

22762

In [71]:
athlete.nunique()

22762

In [72]:
athlete.nunique(dropna=False)

22762

In [73]:
athlete.value_counts()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
SHAKHLIN, Boris         13
MANGIAROTTI, Edoardo    13
                        ..
CLAESGES, Lothar         1
BRAINOVIC, Marko         1
JESSEN, Michael          1
CHUKWU, Clement          1
SHMUDSKY, Vladimir       1
Name: Athlete, Length: 22762, dtype: int64

In [75]:
athlete.value_counts(ascending=True)

SHMUDSKY, Vladimir       1
CHUKWU, Clement          1
JESSEN, Michael          1
BRAINOVIC, Marko         1
CLAESGES, Lothar         1
                        ..
MANGIAROTTI, Edoardo    13
SHAKHLIN, Boris         13
ANDRIANOV, Nikolay      15
LATYNINA, Larisa        18
PHELPS, Michael         22
Name: Athlete, Length: 22762, dtype: int64

In [77]:
athlete.value_counts(sort=True, ascending=False, normalize=True).head()

PHELPS, Michael         0.000706
LATYNINA, Larisa        0.000578
ANDRIANOV, Nikolay      0.000481
SHAKHLIN, Boris         0.000417
MANGIAROTTI, Edoardo    0.000417
Name: Athlete, dtype: float64

## creating pandas series (part1)

In [79]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [80]:
summer['Athlete']

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [81]:
summer.Athlete

0                    HAJOS, Alfred
1                 HERSCHMANN, Otto
2                DRIVAS, Dimitrios
3               MALOKINIS, Ioannis
4               CHASAPIS, Spiridon
                   ...
31160           JANIKOWSKI, Damian
31161    REZAEI, Ghasem Gholamreza
31162               TOTROV, Rustam
31163            ALEKSANYAN, Artur
31164               LIDBERG, Jimmy
Name: Athlete, Length: 31165, dtype: object

In [82]:
summer.iloc[0]

Year                    1896
City                  Athens
Sport               Aquatics
Discipline          Swimming
Athlete        HAJOS, Alfred
Country                  HUN
Gender                   Men
Event         100M Freestyle
Medal                   Gold
Name: 0, dtype: object

In [83]:
pd.read_csv('summer.csv', usecols=['Athlete'], squeeze=True).head()

0         HAJOS, Alfred
1      HERSCHMANN, Otto
2     DRIVAS, Dimitrios
3    MALOKINIS, Ioannis
4    CHASAPIS, Spiridon
Name: Athlete, dtype: object

In [85]:
pd.Series([10,25,6,36,2])

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [87]:
pd.Series([10,25,6,36,2], index=['Mon', 'Tues', 'Wed', 'Thur', 'Fri'])

Mon     10
Tues    25
Wed      6
Thur    36
Fri      2
dtype: int64

In [88]:
pd.Series([10,25,6,36,2], index=['Mon', 'Tues', 'Wed', 'Thur', 'Fri'], name='Sales')

Mon     10
Tues    25
Wed      6
Thur    36
Fri      2
Name: Sales, dtype: int64

## creating pandas series (part2)

In [89]:
import pandas as pd
import numpy as np

In [90]:
sales = np.array([10, 25, 6, 36, 2])
sales

array([10, 25,  6, 36,  2])

In [91]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int32

In [94]:
sales = (10, 25, 6, 36, 2)

In [95]:
pd.Series(sales)

0    10
1    25
2     6
3    36
4     2
dtype: int64

In [96]:
dic = {'Mon':10, 'Tues':25, 'Wed':6, 'Thu':36, 'Fri':2}
dic

{'Mon': 10, 'Tues': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [97]:
sales = pd.Series(dic)

In [98]:
sales

Mon     10
Tues    25
Wed      6
Thu     36
Fri      2
dtype: int64

In [99]:
pd.Series(dic, index = ['Fri', 'Sat', 'Sun', 'Mon', 'Tue', 'Wed'])

Fri     2.0
Sat     NaN
Sun     NaN
Mon    10.0
Tue     NaN
Wed     6.0
dtype: float64

In [100]:
pd.Series(dic, index = [1, 2, 3, 4, 5])

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

## indexing and slicing

In [101]:
import pandas as pd

In [102]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [103]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [104]:
titanic.tail()

     survived  pclass     sex   age  sibsp  parch   fare embarked deck
886         0       2    male  27.0      0      0  13.00        S  NaN
887         1       1  female  19.0      0      0  30.00        S    B
888         0       3  female   NaN      1      2  23.45        S  NaN
889         1       1    male  26.0      0      0  30.00        C    C
890         0       3    male  32.0      0      0   7.75        Q  NaN

In [105]:
age = titanic.age

In [106]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [107]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [108]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [109]:
age[0]

22.0

In [110]:
age[2]

26.0

In [112]:
age.iloc[-1]

32.0

In [113]:
age[890]

32.0

In [114]:
age[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [115]:
age.iloc[:3]

0    22.0
1    38.0
2    26.0
Name: age, dtype: float64

In [116]:
age.loc[:3]

0    22.0
1    38.0
2    26.0
3    35.0
Name: age, dtype: float64

In [118]:
summer = pd.read_csv('summer.csv', index_col='Athlete')

In [119]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [120]:
event = summer.Event

In [122]:
event.head()

Athlete
HAJOS, Alfred                     100M Freestyle
HERSCHMANN, Otto                  100M Freestyle
DRIVAS, Dimitrios     100M Freestyle For Sailors
MALOKINIS, Ioannis    100M Freestyle For Sailors
CHASAPIS, Spiridon    100M Freestyle For Sailors
Name: Event, dtype: object

In [123]:
event.tail()

Athlete
JANIKOWSKI, Damian           Wg 84 KG
REZAEI, Ghasem Gholamreza    Wg 96 KG
TOTROV, Rustam               Wg 96 KG
ALEKSANYAN, Artur            Wg 96 KG
LIDBERG, Jimmy               Wg 96 KG
Name: Event, dtype: object

In [124]:
event.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [125]:
event[0]

'100M Freestyle'

In [126]:
event[1]

'100M Freestyle'

In [127]:
event[-1]

'Wg 96 KG'

In [128]:
event[:3]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [129]:
event.iloc[:3]

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [130]:
event['DRIVAS, Dimitrios']

'100M Freestyle For Sailors'

In [131]:
event[:'DRIVAS, Dimitrios']

Athlete
HAJOS, Alfred                    100M Freestyle
HERSCHMANN, Otto                 100M Freestyle
DRIVAS, Dimitrios    100M Freestyle For Sailors
Name: Event, dtype: object

In [132]:
event.loc['PHELPS, Michael']

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
Name: Event, dtype: object

In [133]:
event.loc['PHELPS, Michael'].equals(event['PHELPS, Michael'])

True

In [134]:
event[:'PHELPS, Michael']

KeyError: "Cannot get right slice bound for non-unique label: 'PHELPS, Michael'"

In [137]:
event.loc[['PHELPS, Michael', 'LEWIS, Carl']]

Athlete
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael            200M Freestyle
PHELPS, Michael    200M Individual Medley
PHELPS, Michael    400M Individual Medley
PHELPS, Michael    4X100M Freestyle Relay
PHELPS, Michael       4X100M Medley Relay
PHELPS, Michael    4X200M Freestyle Relay
PHELPS, Michael            100M Butterfly
PHELPS, Michael            200M Butterfly
PHELPS, Michael               200M Medley
PHELPS, Michael          4X100M Freestyle
PHELPS, Michael             4X100M Medley
PHELPS, Michael          4X200M Freestyle
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                          100M
LEWIS, Carl                          200M
LEWIS, Carl                     Long Jump
LEWIS, Carl                  4X100M Relay
LEWIS, Carl                     Long Jump
LEWIS, Carl                     Long Jump
Name: Event, dtype: object

In [138]:
event.loc[['PHELPS, Michael', 'DUCK, Donald']]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Index(['DUCK, Donald'], dtype='object', name='Athlete'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

## sorting and introduction to the inplace-parameter

In [139]:
dic = {1:10, 3:25, 2:6, 4:36, 5:2, 6:0, 7:None}
dic

{1: 10, 3: 25, 2: 6, 4: 36, 5: 2, 6: 0, 7: None}

In [140]:
sales = pd.Series(dic)

In [141]:
sales

1    10.0
3    25.0
2     6.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [142]:
sales.sort_index()

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [144]:
sales.sort_index(ascending=False)

7     NaN
6     0.0
5     2.0
4    36.0
3    25.0
2     6.0
1    10.0
dtype: float64

In [148]:
sales.sort_index(inplace=True)
sales

1    10.0
2     6.0
3    25.0
4    36.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [149]:
sales.sort_values()

6     0.0
5     2.0
2     6.0
1    10.0
3    25.0
4    36.0
7     NaN
dtype: float64

In [154]:
sales.sort_values(ascending=False, na_position='last', inplace=True)

In [155]:
sales

4    36.0
3    25.0
1    10.0
2     6.0
5     2.0
6     0.0
7     NaN
dtype: float64

In [156]:
dic = {'Mon':10, 'Tues':25, 'Wed':6, 'Thu':36, 'Fri':2}
dic

{'Mon': 10, 'Tues': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2}

In [157]:
sales = pd.Series(dic)

In [158]:
sales

Mon     10
Tues    25
Wed      6
Thu     36
Fri      2
dtype: int64

In [160]:
sales.sort_index(ascending=False)

Wed      6
Tues    25
Thu     36
Mon     10
Fri      2
dtype: int64

## nlargest() and nsmallest()

In [161]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [162]:
age = titanic.age

In [163]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [167]:
age.sort_values(ascending=False).head(3)

630    80.0
851    74.0
96     71.0
Name: age, dtype: float64

In [169]:
age.nlargest(3)

630    80.0
851    74.0
96     71.0
Name: age, dtype: float64

In [179]:
age.nlargest(3).index

Int64Index([630, 851, 96], dtype='int64')

In [181]:
age.idxmax()

630

In [171]:
age.sort_values().iloc[:3]

803    0.42
755    0.67
644    0.75
Name: age, dtype: float64

In [173]:
age.nsmallest(3)

803    0.42
755    0.67
469    0.75
Name: age, dtype: float64

In [180]:
age.nsmallest(3).index[0]

803

In [182]:
age.idxmin()

803

## idxmin() and idxmax()

In [174]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [177]:
titanic.age.idxmax()

630

In [183]:
titanic.age.idxmin()

803

In [188]:
titanic.loc[630]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [189]:
titanic.iloc[630]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [192]:
titanic.loc[titanic.age.idxmax()]

survived       1
pclass         1
sex         male
age           80
sibsp          0
parch          0
fare          30
embarked       S
deck           A
Name: 630, dtype: object

In [193]:
dic = {'Mon':10, 'Tue':25, 'Wed':6, 'Thu':36, 'Fri':2, 'Sat':0, 'Sun':None}
dic

{'Mon': 10, 'Tue': 25, 'Wed': 6, 'Thu': 36, 'Fri': 2, 'Sat': 0, 'Sun': None}

In [194]:
sales = pd.Series(dic)

In [195]:
sales

Mon    10.0
Tue    25.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
dtype: float64

In [197]:
sales.sort_values().index[0]

'Sat'

In [199]:
sales.idxmin()

'Sat'

In [198]:
sales.sort_values(ascending=False).index[0]

'Thu'

In [202]:
sales.idxmax()

'Thu'

## manipulating series

In [203]:
sales = pd.Series([10, 23, 6, 36, 2, 0, None, 5], index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun', 'Mon'])
sales

Mon    10.0
Tue    23.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     NaN
Mon     5.0
dtype: float64

In [205]:
sales['Sun'] = 0

In [207]:
sales

Mon    10.0
Tue    23.0
Wed     6.0
Thu    36.0
Fri     2.0
Sat     0.0
Sun     0.0
Mon     5.0
dtype: float64

In [209]:
sales.iloc[3] = 30

In [210]:
sales

Mon    10.0
Tue    23.0
Wed     6.0
Thu    30.0
Fri     2.0
Sat     0.0
Sun     0.0
Mon     5.0
dtype: float64

In [211]:
(sales/1.1)

Mon     9.090909
Tue    20.909091
Wed     5.454545
Thu    27.272727
Fri     1.818182
Sat     0.000000
Sun     0.000000
Mon     4.545455
dtype: float64

In [212]:
sales_EUR = (sales/1.1).round(2)
sales_EUR

Mon     9.09
Tue    20.91
Wed     5.45
Thu    27.27
Fri     1.82
Sat     0.00
Sun     0.00
Mon     4.55
dtype: float64

In [213]:
sales = (sales/1.1).round(2)

In [214]:
sales['Mon'] = 0

In [215]:
sales

Mon     0.00
Tue    20.91
Wed     5.45
Thu    27.27
Fri     1.82
Sat     0.00
Sun     0.00
Mon     0.00
dtype: float64

In [216]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [217]:
age = titanic.age

In [218]:
age.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [219]:
age.tail()

886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, dtype: float64

In [220]:
age.iloc[1] = 30

C:\Users\drudi\Anaconda3\envs\learn-env\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [221]:
age.head()

0    22.0
1    30.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64

In [222]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  30.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

## pandas index objects

In [224]:
summer = pd.read_csv('summer.csv')

In [225]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [226]:
summer.tail()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [227]:
summer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31165 entries, 0 to 31164
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year        31165 non-null  int64
 1   City        31165 non-null  object
 2   Sport       31165 non-null  object
 3   Discipline  31165 non-null  object
 4   Athlete     31165 non-null  object
 5   Country     31161 non-null  object
 6   Gender      31165 non-null  object
 7   Event       31165 non-null  object
 8   Medal       31165 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.1+ MB

In [228]:
summer.index

RangeIndex(start=0, stop=31165, step=1)

In [229]:
type(summer.index)

pandas.core.indexes.range.RangeIndex

In [230]:
summer.columns

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
       'Event', 'Medal'],
      dtype='object')

In [231]:
type(summer.columns)

pandas.core.indexes.base.Index

In [232]:
summer.axes

[RangeIndex(start=0, stop=31165, step=1),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete', 'Country', 'Gender',
        'Event', 'Medal'],
       dtype='object')]

In [233]:
summer = pd.read_csv('summer.csv', index_col='Athlete')

In [234]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [235]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [236]:
type(summer.index)

pandas.core.indexes.base.Index

In [237]:
summer.axes

[Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
        'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
        'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
        'NEUMANN, Paul',
        ...
        'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
        'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
        'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
        'LIDBERG, Jimmy'],
       dtype='object', name='Athlete', length=31165),
 Index(['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event',
        'Medal'],
       dtype='object')]

In [238]:
summer.columns[:3]

Index(['Year', 'City', 'Sport'], dtype='object')

In [239]:
summer.index[0]

'HAJOS, Alfred'

In [240]:
summer.index[-1]

'LIDBERG, Jimmy'

In [241]:
summer.index[100:102]

Index(['FLATOW, Alfred', 'FLATOW, Gustav Felix'], dtype='object', name='Athlete')

In [242]:
summer.columns.tolist()

['Year', 'City', 'Sport', 'Discipline', 'Country', 'Gender', 'Event', 'Medal']

In [243]:
summer.index.is_unique

False

In [244]:
summer.index.get_loc('DRIVAS, Dimitrios')

2

AttributeError: 'DataFrame' object has no attribute 'get_loc'

## creating index objects

In [249]:
list_1 = [1, 2, 3]

In [250]:
pd.Index(list_1)

Int64Index([1, 2, 3], dtype='int64')

In [251]:
list_2 = ['m', 't', 'w']

In [252]:
pd.Index(list_2)

Index(['m', 't', 'w'], dtype='object')

In [253]:
index1 = pd.Index(range(1,4))

In [254]:
index1

RangeIndex(start=1, stop=4, step=1)

In [255]:
index2 = pd.Index(['M', 'T', 'W'], name='days')

In [256]:
index2

Index(['M', 'T', 'W'], dtype='object', name='days')

In [259]:
pd.Series([34, 32, 21], index=index2)

days
M    34
T    32
W    21
dtype: int64

## changing row index labels

In [264]:
summer = pd.read_csv('summer.csv', index_col='Athlete')

In [265]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [266]:
summer.index

Index(['HAJOS, Alfred', 'HERSCHMANN, Otto', 'DRIVAS, Dimitrios',
       'MALOKINIS, Ioannis', 'CHASAPIS, Spiridon', 'CHOROPHAS, Efstathios',
       'HAJOS, Alfred', 'ANDREOU, Joannis', 'CHOROPHAS, Efstathios',
       'NEUMANN, Paul',
       ...
       'AHMADOV, Emin', 'KAZAKEVIC, Aleksandr', 'KHUGAEV, Alan',
       'EBRAHIM, Karam Mohamed Gaber', 'GAJIYEV, Danyal', 'JANIKOWSKI, Damian',
       'REZAEI, Ghasem Gholamreza', 'TOTROV, Rustam', 'ALEKSANYAN, Artur',
       'LIDBERG, Jimmy'],
      dtype='object', name='Athlete', length=31165)

In [271]:
summer.reset_index(inplace=True)

In [272]:
summer.head()

,Athlete,Year,City,Sport,Discipline,Country,Gender,Event,Medal
0,"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1,"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
2,"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
3,"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
4,"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver

In [276]:
summer.set_index('Year', inplace=True)

In [277]:
summer

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Year,,,,,,,,
1896,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
1896,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
1896,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
1896,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
1896,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
2012,"JANIKOWSKI, Damian",London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
2012,"REZAEI, Ghasem Gholamreza",London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
2012,"TOTROV, Rustam",London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
2012,"ALEKSANYAN, Artur",London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
2012,"LIDBERG, Jimmy",London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [278]:
summer.index.is_unique

False

In [279]:
summer.index[0] = 1894

TypeError: Index does not support mutable operations

In [280]:
summer.index = 'Before 2016'

TypeError: Index(...) must be called with a collection of some kind, 'Before 2016' was passed

In [281]:
summer.index.size

31165

In [284]:
new_index = [f'Medal_No{i}' for i in range(1, summer.index.size+1)]

In [285]:
new_index

['Medal_No1',
 'Medal_No2',
 'Medal_No3',
 'Medal_No4',
 'Medal_No5',
 'Medal_No6',
 'Medal_No7',
 'Medal_No8',
 'Medal_No9',
 'Medal_No10',
 'Medal_No11',
 'Medal_No12',
 'Medal_No13',
 'Medal_No14',
 'Medal_No15',
 'Medal_No16',
 'Medal_No17',
 'Medal_No18',
 'Medal_No19',
 'Medal_No20',
 'Medal_No21',
 'Medal_No22',
 'Medal_No23',
 'Medal_No24',
 'Medal_No25',
 'Medal_No26',
 'Medal_No27',
 'Medal_No28',
 'Medal_No29',
 'Medal_No30',
 'Medal_No31',
 'Medal_No32',
 'Medal_No33',
 'Medal_No34',
 'Medal_No35',
 'Medal_No36',
 'Medal_No37',
 'Medal_No38',
 'Medal_No39',
 'Medal_No40',
 'Medal_No41',
 'Medal_No42',
 'Medal_No43',
 'Medal_No44',
 'Medal_No45',
 'Medal_No46',
 'Medal_No47',
 'Medal_No48',
 'Medal_No49',
 'Medal_No50',
 'Medal_No51',
 'Medal_No52',
 'Medal_No53',
 'Medal_No54',
 'Medal_No55',
 'Medal_No56',
 'Medal_No57',
 'Medal_No58',
 'Medal_No59',
 'Medal_No60',
 'Medal_No61',
 'Medal_No62',
 'Medal_No63',
 'Medal_No64',
 'Medal_No65',
 'Medal_No66',
 'Medal_No67',
 'Medal_No68',
 'Medal_No69',
 'Medal_No70',
 'Medal_No71',
 'Medal_No72',
 'Medal_No73',
 'Medal_No74',
 'Medal_No75',
 'Medal_No76',
 'Medal_No77',
 'Medal_No78',
 'Medal_No79',
 'Medal_No80',
 'Medal_No81',
 'Medal_No82',
 'Medal_No83',
 'Medal_No84',
 'Medal_No85',
 'Medal_No86',
 'Medal_No87',
 'Medal_No88',
 'Medal_No89',
 'Medal_No90',
 'Medal_No91',
 'Medal_No92',
 'Medal_No93',
 'Medal_No94',
 'Medal_No95',
 'Medal_No96',
 'Medal_No97',
 'Medal_No98',
 'Medal_No99',
 'Medal_No100',
 'Medal_No101',
 'Medal_No102',
 'Medal_No103',
 'Medal_No104',
 'Medal_No105',
 'Medal_No106',
 'Medal_No107',
 'Medal_No108',
 'Medal_No109',
 'Medal_No110',
 'Medal_No111',
 'Medal_No112',
 'Medal_No113',
 'Medal_No114',
 'Medal_No115',
 'Medal_No116',
 'Medal_No117',
 'Medal_No118',
 'Medal_No119',
 'Medal_No120',
 'Medal_No121',
 'Medal_No122',
 'Medal_No123',
 'Medal_No124',
 'Medal_No125',
 'Medal_No126',
 'Medal_No127',
 'Medal_No128',
 'Medal_No129',
 'Medal_No130',
 'Medal_No131',
 'Medal_No132',
 'Medal_No133',
 'Medal_No134',
 'Medal_No135',
 'Medal_No136',
 'Medal_No137',
 'Medal_No138',
 'Medal_No139',
 'Medal_No140',
 'Medal_No141',
 'Medal_No142',
 'Medal_No143',
 'Medal_No144',
 'Medal_No145',
 'Medal_No146',
 'Medal_No147',
 'Medal_No148',
 'Medal_No149',
 'Medal_No150',
 'Medal_No151',
 'Medal_No152',
 'Medal_No153',
 'Medal_No154',
 'Medal_No155',
 'Medal_No156',
 'Medal_No157',
 'Medal_No158',
 'Medal_No159',
 'Medal_No160',
 'Medal_No161',
 'Medal_No162',
 'Medal_No163',
 'Medal_No164',
 'Medal_No165',
 'Medal_No166',
 'Medal_No167',
 'Medal_No168',
 'Medal_No169',
 'Medal_No170',
 'Medal_No171',
 'Medal_No172',
 'Medal_No173',
 'Medal_No174',
 'Medal_No175',
 'Medal_No176',
 'Medal_No177',
 'Medal_No178',
 'Medal_No179',
 'Medal_No180',
 'Medal_No181',
 'Medal_No182',
 'Medal_No183',
 'Medal_No184',
 'Medal_No185',
 'Medal_No186',
 'Medal_No187',
 'Medal_No188',
 'Medal_No189',
 'Medal_No190',
 'Medal_No191',
 'Medal_No192',
 'Medal_No193',
 'Medal_No194',
 'Medal_No195',
 'Medal_No196',
 'Medal_No197',
 'Medal_No198',
 'Medal_No199',
 'Medal_No200',
 'Medal_No201',
 'Medal_No202',
 'Medal_No203',
 'Medal_No204',
 'Medal_No205',
 'Medal_No206',
 'Medal_No207',
 'Medal_No208',
 'Medal_No209',
 'Medal_No210',
 'Medal_No211',
 'Medal_No212',
 'Medal_No213',
 'Medal_No214',
 'Medal_No215',
 'Medal_No216',
 'Medal_No217',
 'Medal_No218',
 'Medal_No219',
 'Medal_No220',
 'Medal_No221',
 'Medal_No222',
 'Medal_No223',
 'Medal_No224',
 'Medal_No225',
 'Medal_No226',
 'Medal_No227',
 'Medal_No228',
 'Medal_No229',
 'Medal_No230',
 'Medal_No231',
 'Medal_No232',
 'Medal_No233',
 'Medal_No234',
 'Medal_No235',
 'Medal_No236',
 'Medal_No237',
 'Medal_No238',
 'Medal_No239',
 'Medal_No240',
 'Medal_No241',
 'Medal_No242',
 'Medal_No243',
 'Medal_No244',
 'Medal_No245',
 'Medal_No246',
 'Medal_No247',
 'Medal_No248',
 'Medal_No249',
 'Medal_No250',
 'Medal_No251',
 'Medal_No252',
 'Medal_No253',
 'Medal_No254',
 'Medal_No255',
 'Medal_No256',
 'Medal_No257',
 'Medal_No258',
 'Medal_No259',
 'Medal_No260',
 'Medal_No261',
 'Medal_No262',
 'Medal_No263',
 'Medal_No264',
 'Medal_No265',
 'Medal_No266',
 'Medal_No267',
 'Medal_No268',
 'Medal_No269',
 'Medal_No270',
 'Medal_No271',
 'Medal_No272',
 'Medal_No273',
 'Medal_No274',
 'Medal_No275',
 'Medal_No276',
 'Medal_No277',
 'Medal_No278',
 'Medal_No279',
 'Medal_No280',
 'Medal_No281',
 'Medal_No282',
 'Medal_No283',
 'Medal_No284',
 'Medal_No285',
 'Medal_No286',
 'Medal_No287',
 'Medal_No288',
 'Medal_No289',
 'Medal_No290',
 'Medal_No291',
 'Medal_No292',
 'Medal_No293',
 'Medal_No294',
 'Medal_No295',
 'Medal_No296',
 'Medal_No297',
 'Medal_No298',
 'Medal_No299',
 'Medal_No300',
 'Medal_No301',
 'Medal_No302',
 'Medal_No303',
 'Medal_No304',
 'Medal_No305',
 'Medal_No306',
 'Medal_No307',
 'Medal_No308',
 'Medal_No309',
 'Medal_No310',
 'Medal_No311',
 'Medal_No312',
 'Medal_No313',
 'Medal_No314',
 'Medal_No315',
 'Medal_No316',
 'Medal_No317',
 'Medal_No318',
 'Medal_No319',
 'Medal_No320',
 'Medal_No321',
 'Medal_No322',
 'Medal_No323',
 'Medal_No324',
 'Medal_No325',
 'Medal_No326',
 'Medal_No327',
 'Medal_No328',
 'Medal_No329',
 'Medal_No330',
 'Medal_No331',
 'Medal_No332',
 'Medal_No333',
 'Medal_No334',
 'Medal_No335',
 'Medal_No336',
 'Medal_No337',
 'Medal_No338',
 'Medal_No339',
 'Medal_No340',
 'Medal_No341',
 'Medal_No342',
 'Medal_No343',
 'Medal_No344',
 'Medal_No345',
 'Medal_No346',
 'Medal_No347',
 'Medal_No348',
 'Medal_No349',
 'Medal_No350',
 'Medal_No351',
 'Medal_No352',
 'Medal_No353',
 'Medal_No354',
 'Medal_No355',
 'Medal_No356',
 'Medal_No357',
 'Medal_No358',
 'Medal_No359',
 'Medal_No360',
 'Medal_No361',
 'Medal_No362',
 'Medal_No363',
 'Medal_No364',
 'Medal_No365',
 'Medal_No366',
 'Medal_No367',
 'Medal_No368',
 'Medal_No369',
 'Medal_No370',
 'Medal_No371',
 'Medal_No372',
 'Medal_No373',
 'Medal_No374',
 'Medal_No375',
 'Medal_No376',
 'Medal_No377',
 'Medal_No378',
 'Medal_No379',
 'Medal_No380',
 'Medal_No381',
 'Medal_No382',
 'Medal_No383',
 'Medal_No384',
 'Medal_No385',
 'Medal_No386',
 'Medal_No387',
 'Medal_No388',
 'Medal_No389',
 'Medal_No390',
 'Medal_No391',
 'Medal_No392',
 'Medal_No393',
 'Medal_No394',
 'Medal_No395',
 'Medal_No396',
 'Medal_No397',
 'Medal_No398',
 'Medal_No399',
 'Medal_No400',
 'Medal_No401',
 'Medal_No402',
 'Medal_No403',
 'Medal_No404',
 'Medal_No405',
 'Medal_No406',
 'Medal_No407',
 'Medal_No408',
 'Medal_No409',
 'Medal_No410',
 'Medal_No411',
 'Medal_No412',
 'Medal_No413',
 'Medal_No414',
 'Medal_No415',
 'Medal_No416',
 'Medal_No417',
 'Medal_No418',
 'Medal_No419',
 'Medal_No420',
 'Medal_No421',
 'Medal_No422',
 'Medal_No423',
 'Medal_No424',
 'Medal_No425',
 'Medal_No426',
 'Medal_No427',
 'Medal_No428',
 'Medal_No429',
 'Medal_No430',
 'Medal_No431',
 'Medal_No432',
 'Medal_No433',
 'Medal_No434',
 'Medal_No435',
 'Medal_No436',
 'Medal_No437',
 'Medal_No438',
 'Medal_No439',
 'Medal_No440',
 'Medal_No441',
 'Medal_No442',
 'Medal_No443',
 'Medal_No444',
 'Medal_No445',
 'Medal_No446',
 'Medal_No447',
 'Medal_No448',
 'Medal_No449',
 'Medal_No450',
 'Medal_No451',
 'Medal_No452',
 'Medal_No453',
 'Medal_No454',
 'Medal_No455',
 'Medal_No456',
 'Medal_No457',
 'Medal_No458',
 'Medal_No459',
 'Medal_No460',
 'Medal_No461',
 'Medal_No462',
 'Medal_No463',
 'Medal_No464',
 'Medal_No465',
 'Medal_No466',
 'Medal_No467',
 'Medal_No468',
 'Medal_No469',
 'Medal_No470',
 'Medal_No471',
 'Medal_No472',
 'Medal_No473',
 'Medal_No474',
 'Medal_No475',
 'Medal_No476',
 'Medal_No477',
 'Medal_No478',
 'Medal_No479',
 'Medal_No480',
 'Medal_No481',
 'Medal_No482',
 'Medal_No483',
 'Medal_No484',
 'Medal_No485',
 'Medal_No486',
 'Medal_No487',
 'Medal_No488',
 'Medal_No489',
 'Medal_No490',
 'Medal_No491',
 'Medal_No492',
 'Medal_No493',
 'Medal_No494',
 'Medal_No495',
 'Medal_No496',
 'Medal_No497',
 'Medal_No498',
 'Medal_No499',
 'Medal_No500',
 'Medal_No501',
 'Medal_No502',
 'Medal_No503',
 'Medal_No504',
 'Medal_No505',
 'Medal_No506',
 'Medal_No507',
 'Medal_No508',
 'Medal_No509',
 'Medal_No510',
 'Medal_No511',
 'Medal_No512',
 'Medal_No513',
 'Medal_No514',
 'Medal_No515',
 'Medal_No516',
 'Medal_No517',
 'Medal_No518',
 'Medal_No519',
 'Medal_No520',
 'Medal_No521',
 'Medal_No522',
 'Medal_No523',
 'Medal_No524',
 'Medal_No525',
 'Medal_No526',
 'Medal_No527',
 'Medal_No528',
 'Medal_No529',
 'Medal_No530',
 'Medal_No531',
 'Medal_No532',
 'Medal_No533',
 'Medal_No534',
 'Medal_No535',
 'Medal_No536',
 'Medal_No537',
 'Medal_No538',
 'Medal_No539',
 'Medal_No540',
 'Medal_No541',
 'Medal_No542',
 'Medal_No543',
 'Medal_No544',
 'Medal_No545',
 'Medal_No546',
 'Medal_No547',
 'Medal_No548',
 'Medal_No549',
 'Medal_No550',
 'Medal_No551',
 'Medal_No552',
 'Medal_No553',
 'Medal_No554',
 'Medal_No555',
 'Medal_No556',
 'Medal_No557',
 'Medal_No558',
 'Medal_No559',
 'Medal_No560',
 'Medal_No561',
 'Medal_No562',
 'Medal_No563',
 'Medal_No564',
 'Medal_No565',
 'Medal_No566',
 'Medal_No567',
 'Medal_No568',
 'Medal_No569',
 'Medal_No570',
 'Medal_No571',
 'Medal_No572',
 'Medal_No573',
 'Medal_No574',
 'Medal_No575',
 'Medal_No576',
 'Medal_No577',
 'Medal_No578',
 'Medal_No579',
 'Medal_No580',
 'Medal_No581',
 'Medal_No582',
 'Medal_No583',
 'Medal_No584',
 'Medal_No585',
 'Medal_No586',
 'Medal_No587',
 'Medal_No588',
 'Medal_No589',
 'Medal_No590',
 'Medal_No591',
 'Medal_No592',
 'Medal_No593',
 'Medal_No594',
 'Medal_No595',
 'Medal_No596',
 'Medal_No597',
 'Medal_No598',
 'Medal_No599',
 'Medal_No600',
 'Medal_No601',
 'Medal_No602',
 'Medal_No603',
 'Medal_No604',
 'Medal_No605',
 'Medal_No606',
 'Medal_No607',
 'Medal_No608',
 'Medal_No609',
 'Medal_No610',
 'Medal_No611',
 'Medal_No612',
 'Medal_No613',
 'Medal_No614',
 'Medal_No615',
 'Medal_No616',
 'Medal_No617',
 'Medal_No618',
 'Medal_No619',
 'Medal_No620',
 'Medal_No621',
 'Medal_No622',
 'Medal_No623',
 'Medal_No624',
 'Medal_No625',
 'Medal_No626',
 'Medal_No627',
 'Medal_No628',
 'Medal_No629',
 'Medal_No630',
 'Medal_No631',
 'Medal_No632',
 'Medal_No633',
 'Medal_No634',
 'Medal_No635',
 'Medal_No636',
 'Medal_No637',
 'Medal_No638',
 'Medal_No639',
 'Medal_No640',
 'Medal_No641',
 'Medal_No642',
 'Medal_No643',
 'Medal_No644',
 'Medal_No645',
 'Medal_No646',
 'Medal_No647',
 'Medal_No648',
 'Medal_No649',
 'Medal_No650',
 'Medal_No651',
 'Medal_No652',
 'Medal_No653',
 'Medal_No654',
 'Medal_No655',
 'Medal_No656',
 'Medal_No657',
 'Medal_No658',
 'Medal_No659',
 'Medal_No660',
 'Medal_No661',
 'Medal_No662',
 'Medal_No663',
 'Medal_No664',
 'Medal_No665',
 'Medal_No666',
 'Medal_No667',
 'Medal_No668',
 'Medal_No669',
 'Medal_No670',
 'Medal_No671',
 'Medal_No672',
 'Medal_No673',
 'Medal_No674',
 'Medal_No675',
 'Medal_No676',
 'Medal_No677',
 'Medal_No678',
 'Medal_No679',
 'Medal_No680',
 'Medal_No681',
 'Medal_No682',
 'Medal_No683',
 'Medal_No684',
 'Medal_No685',
 'Medal_No686',
 'Medal_No687',
 'Medal_No688',
 'Medal_No689',
 'Medal_No690',
 'Medal_No691',
 'Medal_No692',
 'Medal_No693',
 'Medal_No694',
 'Medal_No695',
 'Medal_No696',
 'Medal_No697',
 'Medal_No698',
 'Medal_No699',
 'Medal_No700',
 'Medal_No701',
 'Medal_No702',
 'Medal_No703',
 'Medal_No704',
 'Medal_No705',
 'Medal_No706',
 'Medal_No707',
 'Medal_No708',
 'Medal_No709',
 'Medal_No710',
 'Medal_No711',
 'Medal_No712',
 'Medal_No713',
 'Medal_No714',
 'Medal_No715',
 'Medal_No716',
 'Medal_No717',
 'Medal_No718',
 'Medal_No719',
 'Medal_No720',
 'Medal_No721',
 'Medal_No722',
 'Medal_No723',
 'Medal_No724',
 'Medal_No725',
 'Medal_No726',
 'Medal_No727',
 'Medal_No728',
 'Medal_No729',
 'Medal_No730',
 'Medal_No731',
 'Medal_No732',
 'Medal_No733',
 'Medal_No734',
 'Medal_No735',
 'Medal_No736',
 'Medal_No737',
 'Medal_No738',
 'Medal_No739',
 'Medal_No740',
 'Medal_No741',
 'Medal_No742',
 'Medal_No743',
 'Medal_No744',
 'Medal_No745',
 'Medal_No746',
 'Medal_No747',
 'Medal_No748',
 'Medal_No749',
 'Medal_No750',
 'Medal_No751',
 'Medal_No752',
 'Medal_No753',
 'Medal_No754',
 'Medal_No755',
 'Medal_No756',
 'Medal_No757',
 'Medal_No758',
 'Medal_No759',
 'Medal_No760',
 'Medal_No761',
 'Medal_No762',
 'Medal_No763',
 'Medal_No764',
 'Medal_No765',
 'Medal_No766',
 'Medal_No767',
 'Medal_No768',
 'Medal_No769',
 'Medal_No770',
 'Medal_No771',
 'Medal_No772',
 'Medal_No773',
 'Medal_No774',
 'Medal_No775',
 'Medal_No776',
 'Medal_No777',
 'Medal_No778',
 'Medal_No779',
 'Medal_No780',
 'Medal_No781',
 'Medal_No782',
 'Medal_No783',
 'Medal_No784',
 'Medal_No785',
 'Medal_No786',
 'Medal_No787',
 'Medal_No788',
 'Medal_No789',
 'Medal_No790',
 'Medal_No791',
 'Medal_No792',
 'Medal_No793',
 'Medal_No794',
 'Medal_No795',
 'Medal_No796',
 'Medal_No797',
 'Medal_No798',
 'Medal_No799',
 'Medal_No800',
 'Medal_No801',
 'Medal_No802',
 'Medal_No803',
 'Medal_No804',
 'Medal_No805',
 'Medal_No806',
 'Medal_No807',
 'Medal_No808',
 'Medal_No809',
 'Medal_No810',
 'Medal_No811',
 'Medal_No812',
 'Medal_No813',
 'Medal_No814',
 'Medal_No815',
 'Medal_No816',
 'Medal_No817',
 'Medal_No818',
 'Medal_No819',
 'Medal_No820',
 'Medal_No821',
 'Medal_No822',
 'Medal_No823',
 'Medal_No824',
 'Medal_No825',
 'Medal_No826',
 'Medal_No827',
 'Medal_No828',
 'Medal_No829',
 'Medal_No830',
 'Medal_No831',
 'Medal_No832',
 'Medal_No833',
 'Medal_No834',
 'Medal_No835',
 'Medal_No836',
 'Medal_No837',
 'Medal_No838',
 'Medal_No839',
 'Medal_No840',
 'Medal_No841',
 'Medal_No842',
 'Medal_No843',
 'Medal_No844',
 'Medal_No845',
 'Medal_No846',
 'Medal_No847',
 'Medal_No848',
 'Medal_No849',
 'Medal_No850',
 'Medal_No851',
 'Medal_No852',
 'Medal_No853',
 'Medal_No854',
 'Medal_No855',
 'Medal_No856',
 'Medal_No857',
 'Medal_No858',
 'Medal_No859',
 'Medal_No860',
 'Medal_No861',
 'Medal_No862',
 'Medal_No863',
 'Medal_No864',
 'Medal_No865',
 'Medal_No866',
 'Medal_No867',
 'Medal_No868',
 'Medal_No869',
 'Medal_No870',
 'Medal_No871',
 'Medal_No872',
 'Medal_No873',
 'Medal_No874',
 'Medal_No875',
 'Medal_No876',
 'Medal_No877',
 'Medal_No878',
 'Medal_No879',
 'Medal_No880',
 'Medal_No881',
 'Medal_No882',
 'Medal_No883',
 'Medal_No884',
 'Medal_No885',
 'Medal_No886',
 'Medal_No887',
 'Medal_No888',
 'Medal_No889',
 'Medal_No890',
 'Medal_No891',
 'Medal_No892',
 'Medal_No893',
 'Medal_No894',
 'Medal_No895',
 'Medal_No896',
 'Medal_No897',
 'Medal_No898',
 'Medal_No899',
 'Medal_No900',
 'Medal_No901',
 'Medal_No902',
 'Medal_No903',
 'Medal_No904',
 'Medal_No905',
 'Medal_No906',
 'Medal_No907',
 'Medal_No908',
 'Medal_No909',
 'Medal_No910',
 'Medal_No911',
 'Medal_No912',
 'Medal_No913',
 'Medal_No914',
 'Medal_No915',
 'Medal_No916',
 'Medal_No917',
 'Medal_No918',
 'Medal_No919',
 'Medal_No920',
 'Medal_No921',
 'Medal_No922',
 'Medal_No923',
 'Medal_No924',
 'Medal_No925',
 'Medal_No926',
 'Medal_No927',
 'Medal_No928',
 'Medal_No929',
 'Medal_No930',
 'Medal_No931',
 'Medal_No932',
 'Medal_No933',
 'Medal_No934',
 'Medal_No935',
 'Medal_No936',
 'Medal_No937',
 'Medal_No938',
 'Medal_No939',
 'Medal_No940',
 'Medal_No941',
 'Medal_No942',
 'Medal_No943',
 'Medal_No944',
 'Medal_No945',
 'Medal_No946',
 'Medal_No947',
 'Medal_No948',
 'Medal_No949',
 'Medal_No950',
 'Medal_No951',
 'Medal_No952',
 'Medal_No953',
 'Medal_No954',
 'Medal_No955',
 'Medal_No956',
 'Medal_No957',
 'Medal_No958',
 'Medal_No959',
 'Medal_No960',
 'Medal_No961',
 'Medal_No962',
 'Medal_No963',
 'Medal_No964',
 'Medal_No965',
 'Medal_No966',
 'Medal_No967',
 'Medal_No968',
 'Medal_No969',
 'Medal_No970',
 'Medal_No971',
 'Medal_No972',
 'Medal_No973',
 'Medal_No974',
 'Medal_No975',
 'Medal_No976',
 'Medal_No977',
 'Medal_No978',
 'Medal_No979',
 'Medal_No980',
 'Medal_No981',
 'Medal_No982',
 'Medal_No983',
 'Medal_No984',
 'Medal_No985',
 'Medal_No986',
 'Medal_No987',
 'Medal_No988',
 'Medal_No989',
 'Medal_No990',
 'Medal_No991',
 'Medal_No992',
 'Medal_No993',
 'Medal_No994',
 'Medal_No995',
 'Medal_No996',
 'Medal_No997',
 'Medal_No998',
 'Medal_No999',
 'Medal_No1000',
 ...]

In [286]:
summer.index = new_index

In [287]:
summer

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_No1,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal_No2,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal_No3,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal_No4,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal_No5,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
Medal_No31161,"JANIKOWSKI, Damian",London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
Medal_No31162,"REZAEI, Ghasem Gholamreza",London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
Medal_No31163,"TOTROV, Rustam",London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
Medal_No31164,"ALEKSANYAN, Artur",London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
Medal_No31165,"LIDBERG, Jimmy",London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [289]:
summer.index.name = 'Medal_No'

In [290]:
summer.index.name

'Medal_No'

In [292]:
summer

,Athlete,City,Sport,Discipline,Country,Gender,Event,Medal
Medal_No,,,,,,,,
Medal_No1,"HAJOS, Alfred",Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
Medal_No2,"HERSCHMANN, Otto",Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
Medal_No3,"DRIVAS, Dimitrios",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
Medal_No4,"MALOKINIS, Ioannis",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
Medal_No5,"CHASAPIS, Spiridon",Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
Medal_No31161,"JANIKOWSKI, Damian",London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
Medal_No31162,"REZAEI, Ghasem Gholamreza",London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
Medal_No31163,"TOTROV, Rustam",London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
Medal_No31164,"ALEKSANYAN, Artur",London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
Medal_No31165,"LIDBERG, Jimmy",London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [294]:
summer.index.is_unique

True

## changing column labels

In [295]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  30.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [296]:
titanic.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'deck'],
      dtype='object')

In [297]:
titanic.columns[0]

'survived'

In [298]:
titanic.columns[0] = 'Alive'

TypeError: Index does not support mutable operations

In [299]:
titanic.columns = ['Alive', 'Class', 'Sex', 'Age', 'SibSp', 'ParChi', 'Fare', 'Emb', 'Deck']

In [300]:
titanic

     Alive  Class     Sex   Age  SibSp  ParChi     Fare Emb Deck
0        0      3    male  22.0      1       0   7.2500   S  NaN
1        1      1  female  30.0      1       0  71.2833   C    C
2        1      3  female  26.0      0       0   7.9250   S  NaN
3        1      1  female  35.0      1       0  53.1000   S    C
4        0      3    male  35.0      0       0   8.0500   S  NaN
..     ...    ...     ...   ...    ...     ...      ...  ..  ...
886      0      2    male  27.0      0       0  13.0000   S  NaN
887      1      1  female  19.0      0       0  30.0000   S    B
888      0      3  female   NaN      1       2  23.4500   S  NaN
889      1      1    male  26.0      0       0  30.0000   C    C
890      0      3    male  32.0      0       0   7.7500   Q  NaN

[891 rows x 9 columns]

In [301]:
titanic.columns

Index(['Alive', 'Class', 'Sex', 'Age', 'SibSp', 'ParChi', 'Fare', 'Emb',
       'Deck'],
      dtype='object')

In [302]:
titanic.columns.name

In [303]:
titanic.columns.name = 'Pass_Charact'

In [304]:
titanic.columns.name

'Pass_Charact'

In [305]:
titanic

Pass_Charact  Alive  Class     Sex   Age  SibSp  ParChi     Fare Emb Deck
0                 0      3    male  22.0      1       0   7.2500   S  NaN
1                 1      1  female  30.0      1       0  71.2833   C    C
2                 1      3  female  26.0      0       0   7.9250   S  NaN
3                 1      1  female  35.0      1       0  53.1000   S    C
4                 0      3    male  35.0      0       0   8.0500   S  NaN
..              ...    ...     ...   ...    ...     ...      ...  ..  ...
886               0      2    male  27.0      0       0  13.0000   S  NaN
887               1      1  female  19.0      0       0  30.0000   S    B
888               0      3  female   NaN      1       2  23.4500   S  NaN
889               1      1    male  26.0      0       0  30.0000   C    C
890               0      3    male  32.0      0       0   7.7500   Q  NaN

[891 rows x 9 columns]

In [309]:
titanic.index.name = 'Passenger_No'

In [310]:
titanic

Pass_Charact  Alive  Class     Sex   Age  SibSp  ParChi     Fare Emb Deck
Passenger_No
0                 0      3    male  22.0      1       0   7.2500   S  NaN
1                 1      1  female  30.0      1       0  71.2833   C    C
2                 1      3  female  26.0      0       0   7.9250   S  NaN
3                 1      1  female  35.0      1       0  53.1000   S    C
4                 0      3    male  35.0      0       0   8.0500   S  NaN
...             ...    ...     ...   ...    ...     ...      ...  ..  ...
886               0      2    male  27.0      0       0  13.0000   S  NaN
887               1      1  female  19.0      0       0  30.0000   S    B
888               0      3  female   NaN      1       2  23.4500   S  NaN
889               1      1    male  26.0      0       0  30.0000   C    C
890               0      3    male  32.0      0       0   7.7500   Q  NaN

[891 rows x 9 columns]

## renaming index and column labels

In [312]:
summer = pd.read_csv('summer.csv', index_col = 'Athlete')

In [313]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAJOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [314]:
summer.index[0] = 'HAYOS, Alfred'

TypeError: Index does not support mutable operations

In [315]:
summer.rename(mapper={'HAJOS, Alfred': 'HAYOS, Alfred'}, axis='index')

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [316]:
summer.rename(index={'HAJOS, Alfred': 'HAYOS, Alfred'}, inplace=True)

In [317]:
summer

,Year,City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [318]:
summer.rename(mapper={'Sex': 'Gender', 'City': 'Host_City'}, axis='columns')

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze

In [319]:
summer.rename(columns={'Sex': 'Gender', 'City': 'Host_City'}, inplace=True)

In [320]:
summer

,Year,Host_City,Sport,Discipline,Country,Gender,Event,Medal
Athlete,,,,,,,,
"HAYOS, Alfred",1896,Athens,Aquatics,Swimming,HUN,Men,100M Freestyle,Gold
"HERSCHMANN, Otto",1896,Athens,Aquatics,Swimming,AUT,Men,100M Freestyle,Silver
"DRIVAS, Dimitrios",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Bronze
"MALOKINIS, Ioannis",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Gold
"CHASAPIS, Spiridon",1896,Athens,Aquatics,Swimming,GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...
"JANIKOWSKI, Damian",2012,London,Wrestling,Wrestling Freestyle,POL,Men,Wg 84 KG,Bronze
"REZAEI, Ghasem Gholamreza",2012,London,Wrestling,Wrestling Freestyle,IRI,Men,Wg 96 KG,Gold
"TOTROV, Rustam",2012,London,Wrestling,Wrestling Freestyle,RUS,Men,Wg 96 KG,Silver
"ALEKSANYAN, Artur",2012,London,Wrestling,Wrestling Freestyle,ARM,Men,Wg 96 KG,Bronze
"LIDBERG, Jimmy",2012,London,Wrestling,Wrestling Freestyle,SWE,Men,Wg 96 KG,Bronze